@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-5 pt-5">
    <div class="col-xs-12 col-md-6 offset-md-3">
        
        <a class="btn btn-primary w-100" href="/Schedule"> View schedule </a>
        
    </div>
</div>